./jj
**/large.in
**/small.in
**/in
**/*.png
**/*.dot
**/*.pdf

# Javascript
**/node_modules/
**/package-lock.json

# Clojure
**/.clj-kondo/
**/.lsp/
**/.lein-*
**/.nrepl-port

# Rust
**/debug/
**/target/
**/Cargo.lock
**/*.rs.bk

# Python
**/*.lock
**/*.python-version
**/.venv
**/__pycache__
