./jj
**/large.in
**/*.png
**/*.dot

# Clojure
**/.clj-kondo/
**/.lsp/
**/.lein-repl*

# Rust
**/debug/
**/target/
**/Cargo.lock
**/*.rs.bk

# Python
**/*.lock
**/*.python-version
**/.venv
**/__pycache__
